# ignore everything in the root except the "wp-content" directory.
!wp-content/

# ignore everything in the "wp-content" directory, except:
# "mu-plugins", "plugins", "themes" directory
wp-content/*
# uncomment for including some plugins
# !wp-content/mu-plugins/
# !wp-content/plugins/custom/

# My themes, for now
!wp-content/themes/twentytwentyone/
!wp-content/themes/wprig/
!wp-content/themes/faniry-blog/

# ignore node dependency directories
node_modules/
# ignore composer dependency directories
wp-content/themes/*/vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite
