# ignore the following WordPress files in my local environment
.htaccess
index.php
license.txt
readme.html
wp-activate.php
wp-admin/
wp-blog-header.php
wp-comments-post.php
wp-config-sample.php
wp-config.php
wp-cron.php
wp-includes/
wp-links-opml.php
wp-load.php
wp-login.php
wp-mail.php
wp-settings.php
wp-signup.php
wp-trackback.php
xmlrpc.php

# ignore everything in the root except the "wp-content" directory.
!wp-content/

# for, now, ignore plugins
wp-content/plugins/
wp-content/uploads/
wp-content/upgrade/

# My themes, for now
wp-content/themes/*
!wp-content/themes/twentytwentyone/
!wp-content/themes/wprig/
!wp-content/themes/faniry-blog/

# ignore node dependency directories
node_modules/
# ignore composer dependency directories
wp-content/themes/wprig/vendor/

# ignore log files and databases
*.log
*.sql
*.sqlite

.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
# Local History for Visual Studio Code
.history/
